// Enter any custom Sass in this file.
// Changing the size of the Canada flag in the banner. Keeping the banner size the same

.notavailable {
    background-color: darkgray;
    border-style: dotted;
}

.navbar-brand img {
  width: 70%;
}

// Button customization

.btn {
  margin-bottom: 5px;
}

.btn-primary {
 background-color: #000000; 
 border-color: #000000;
}

// Goal banner text to white

//.goal-banner h1, .goal-banner p {
//    color: white;
//}

// Narrowing goal banners
.goal-banner {
    padding-top: 10px;
    padding-bottom: 10px;
}
// Goal banners - set background colours.

.goal-1.goal-banner {
  background-color: #FFFFFF;
  color: #e5243b;
}

.goal-1.goal-banner h1{
  color: #e5243b;
}
.goal-1.heading {
   background-color: #FFFFFF;
  border-top: 10px solid #97131f;
  border-bottom: 10px solid #97131f; }

.goal-1.goal-indicators div span {
  border-color: #97131f;
  color: #97131f; }

.goal-2.goal-banner {
    background-color: #FFFFFF;
    color: #DDA63A;
}
.goal-2.goal-banner h1{
    color: #DDA63A;
}
.goal-2.heading {
   background-color: #FFFFFF;
  border-top: 10px solid #976d1a;
  border-bottom: 10px solid #976d1a; }
.goal-2.goal-indicators div span {
  border-color: #976d1a;
  color: #976d1a; }

.goal-3.goal-banner h1{
     color: #4C9F38;
}
.goal-3.goal-banner {
     background-color: #FFFFFF;
}
.goal-3.heading {
  background-color: #FFFFFF;
border-top: 10px solid #28541d;
  border-bottom: 10px solid #28541d; }
.goal-3.goal-indicators div span {
  border-color: #28541d;
  color: #28541d; }

.goal-4.goal-banner h1{
     color:#C5192D;
}
.goal-4.goal-banner {
     background-color: #FFFFFF;
}
.goal-4.heading {
   background-color: #FFFFFF;
border-top: 10px solid #6d121b;
  border-bottom: 10px solid #6d121b; }
.goal-4.goal-indicators div span {
  border-color: #6d121b;
  color: #6d121b; }

.goal-5.goal-banner h1{
     color:#FF3A21;
}
.goal-5.goal-banner {
     background-color: #FFFFFF;
}
.goal-5.heading {
   background-color: #FFFFFF;
border-top: 10px solid #bd1600;
  border-bottom: 10px solid #bd1600; }
.goal-5.goal-indicators div span {
  border-color: #bd1600;
  color: #bd1600; }

.goal-6.goal-banner h1{
    color: #26BDE2;
}
.goal-6.goal-banner {
    background-color: #FFFFFF;
}
.goal-6.heading {
   background-color: #FFFFFF;
border-top: 10px solid #14768f;
  border-bottom: 10px solid #14768f; }
.goal-6.goal-indicators div span {
  border-color: #14768f;
  color: #14768f; }

.goal-7.goal-banner h1{
 color:#FCC30B ;
}
.goal-7.goal-banner {
     background-color: #FFFFFF;
}
.goal-7.heading {
  background-color: #FFFFFF;
border-top: 10px solid #9f7a02;
  border-bottom: 10px solid #9f7a02; }
.goal-7.goal-indicators div span {
  border-color: #9f7a02;
  color: #9f7a02; }

.goal-8.goal-banner h1{
    color:#A21942;
}
.goal-8.goal-banner {
     background-color: #FFFFFF;
}
.goal-8.heading {
   background-color: #FFFFFF;
  border-top: 10px solid #4a0b1e;
  border-bottom: 10px solid #4a0b1e; }
.goal-8.goal-indicators div span {
  border-color: #4a0b1e;
  color: #4a0b1e; }

.goal-9.goal-banner h1{
color: #FD6925 ;
}
.goal-9.goal-banner {
     background-color: #FFFFFF;
}
.goal-9.heading {
   background-color: #FFFFFF;
  border-top: 10px solid #ba3c02;
  border-bottom: 10px solid #ba3c02; }
.goal-9.goal-indicators div span {
  border-color: #ba3c02;
  color: #ba3c02; }


.goal-10.goal-banner h1{
color: #DD1367;
}
.goal-10.goal-banner {
     background-color: #FFFFFF;

}
.goal-10.heading {
   background-color: #FFFFFF;
  border-top: 10px solid #7f0b3b;
  border-bottom: 10px solid #7f0b3b; }
.goal-10.goal-indicators div span {
  border-color: #7f0b3b;
  color: #7f0b3b; }

.goal-11.goal-banner h1{
     color: #FD9D24;
}
.goal-11.goal-banner {
     background-color: #FFFFFF;
}
.goal-11.heading {
   background-color: #FFFFFF;
   border-top: 10px solid #bc6802;
  border-bottom: 10px solid #bc6802; }
.goal-11.goal-indicators div span {
  border-color: #bc6802;
  color: #bc6802; }

.goal-12.goal-banner h1{
color:#BF8B2E;
}
.goal-12.goal-banner {
     background-color: #FFFFFF;
}
.goal-12.heading {
   background-color: #FFFFFF;
border-top: 10px solid #6d4f1a;
  border-bottom: 10px solid #6d4f1a; }
.goal-12.goal-indicators div span {
  border-color: #6d4f1a;
  color: #6d4f1a; }

.goal-13.goal-banner h1{
color: #3F7E44;
}
.goal-13.goal-banner {
     background-color: #FFFFFF;
}
.goal-13.heading {
   background-color: #FFFFFF;
border-top: 10px solid #1e3a20;
  border-bottom: 10px solid #1e3a20; }
.goal-13.goal-indicators div span {
  border-color: #1e3a20;
  color: #1e3a20; }

.goal-14.goal-banner h1{
 color: #0A97D9;
}
.goal-14.goal-banner {
    background-color: #FFFFFF;
}
.goal-14.heading {
   background-color: #FFFFFF;
border-top: 10px solid #055277;
  border-bottom: 10px solid #055277; }
.goal-14.goal-indicators div span {
  border-color: #055277;
  color: #055277; }

.goal-15.goal-banner h1{
color: #56C02B;
}
.goal-15.goal-banner {
     background-color: #FFFFFF;
}
.goal-15.heading {
   background-color: #FFFFFF;
border-top: 10px solid #326c1b;
  border-bottom: 10px solid #326c1b; }
.goal-15.goal-indicators div span {
  border-color: #326c1b;
  color: #326c1b; }

.goal-16.goal-banner h1{
 color: #00689D;
}
.goal-16.goal-banner {
     background-color: #FFFFFF;
}
.goal-16.heading {
   background-color: #FFFFFF;
border-top: 10px solid #002436;
  border-bottom: 10px solid #002436; }
.goal-16.goal-indicators div span {
  border-color: #002436;
  color: #002436; }

.goal-17.goal-banner h1{
 color: #19486A;
}
.goal-17.goal-banner {
     background-color: #FFFFFF;
}
.goal-17.heading {
  background-color: #FFFFFF;
  border-bottom: 10px solid #08131b;
  border-top: 10px solid #08131b; }
.goal-17.goal-indicators div span {
  border-color: #08131b;
  color: #08131b; }
